.TodoInsert {
  display: flex;
  background: #495057;

  input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;

    border-style: solid;
    border-width: 1px;
    border-color: white(68, 77, 121);

    &::placeholder {
      color: #dee2e6;
    }
    flex: 1;
  }
  button {
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: block;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    &:hover {
      background: #adb5db;
    }
  }
}

.button {
  background: none;
  outline: none;
  border: none;
  background: #868e96;
  color: white;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
  font-size: 1.5rem;
  display: block;
  align-items: center;
  cursor: pointer;
  transition: 0.1s background ease-in;
  &:hover {
    background: #adb5db;
  }
}
